.Skill{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 40%;
    padding: 0 3rem;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: white;
    font-size: clamp(15px,3vw,24px);
    margin-left: 0.2rem;
    border-radius: 50px;
    background-image: linear-gradient(160deg, transparent 25% , rgb(51, 51, 59) 100%);
    z-index:1;
}
.Skill::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, transparent 10% , rgb(62, 62, 73) 100%);
    border-radius: 50px;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.Skill:hover::before {
    opacity: 1;
}

.Skill p{
    width: clamp(4rem,8vw,6rem);
    font-weight: lighter;
}
.Skill img{
    aspect-ratio: 1/1;
    width: 64px;

}
@media (max-width: 1024px) {
    .Skill img{
        width: 10vw;
    }
}
