.Projects-container{
    margin-top: 3rem ;
    font-size: 5vh;
    text-align: center;
    color: white;
    height: 300vh;
    overflow-x: clip;
}
.Projects-container .ghost{
    position: sticky;
    top: 5%;
}
.Projects-container .ghost h1{
    padding: 10vh 0;
    font-weight: lighter;
}

.Projects-wrapper{
    width: fit-content;
    height: 60vh;
    display: flex;
    overflow-x: hidden ;
    gap: 5rem;
}
@media (max-width: 786px) {
    .Projects-container{
        font-size: 6vw;
        height: 80vh;
        overflow-x: clip;
        margin: 0;

    }
    .Projects-container .ghost h1{
        padding: 0 0 10vh 0;

    }
    .Projects-container .ghost{
        padding: 0 ;
    }
    .Projects-wrapper{
        width: 100%;
        height: 100%;
        gap: 0.7rem;
        overflow-x: scroll ;
       padding: 0 1rem;
    }
    .Projects-wrapper::-webkit-scrollbar{
        display: block;
        height: 0.75rem;
    }
    .Projects-wrapper::-webkit-scrollbar-thumb{
       width: 50%;
        background: black;
        border: 1px solid rgba(140, 118, 231, 0.4);
    }
    .Projects-wrapper::-webkit-scrollbar-track{
        display: none;
    }
    .Projects-container .ghost{
        position: relative;
    }

}
