.Section4{
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;

}
.Section4 .IntroStory{
    width: 100%;
    color: white;
    height: 100%;
    font-size: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Section4 .IntroStory img{
    aspect-ratio: 1/1;
    width:20rem;
    object-fit: cover;
    border-radius:50% ;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;

}
.Section4 .IntroStory .parts{
    margin-top: 5rem;
}
.Section4  button{
  position: sticky;
    top: 50%;
    width: 100px;
    left:80%;
    z-index: 100;
    display: none;
}