.Skills{
    width: 100%;
    height: 100vh;
    padding: 5rem 2rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
}
.Skills h1{

    font-weight: lighter;
}

.SkillsContainer{
    margin-top: 5%;
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SkillsContainer .ghost{
    margin: 1rem;
    width: 13%;
    height: 50%;

}
@media (max-width: 786px) {
    .Skills{
        font-size: 6vw;
        padding: 5rem 0;
    }
    .SkillsContainer::-webkit-scrollbar{
        display: none;
    }
    .SkillsContainer .ghost{
        min-width: unset;
        width: 23vw;
        height: 20%;
    }
}