.Skills{
    width: 100%;
    height: 100vh;
    padding: 5rem 2rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 5vh;
}
.Skills h1{
    padding: 2rem 0 ;
    font-weight: lighter;
}

.SkillsContainer{
    margin-top: 5%;
    height: 100%;
    padding: 1rem 0 ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.SkillsContainer .ghost{
    margin: 1rem;
    min-width: 9rem;
    height: 40%;

}
@media (max-width: 1024px) {
    .Skills{
        font-size: 6vw;
        padding: 5rem 0rem;
    }
    .SkillsContainer::-webkit-scrollbar{
        display: none;
    }
    .SkillsContainer .ghost{
        min-width: unset;
        width: 23vw;
        height: 20%;
    }
}