.Contact {
    color: white;
    font-size: 5vh;
    width: 100%;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;

}

.Contact h1 {
    font-weight: lighter;
}

.ContactWrapper {
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.ContactWrapper .text {
    width: 50%;
    display: grid;
    place-items: center;
}

.ContactWrapper .text .extra {
    font-size: 3.5vh;
    margin: 0.5rem 0 0 6rem;
}

.ContactWrapper .Links {
    width: 40%;
    color: rgba(255, 255, 255, 0.8);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 12vw);
    grid-template-rows: repeat(3, 16vh);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: 4rem;
}

.div1 {
    grid-area: 1 / 2 / 2 / 3;
}


.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 2 / 4 / 3;

}

.div4 {
    grid-area: 2 / 3 / 3 / 4;

}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

@media (max-width: 786px) {
    .Contact {
        font-size: 5vw;
    }
    .ContactWrapper {
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .ContactWrapper .text {
        width: 100%;
        display: grid;
        place-items: center;
    }

    .ContactWrapper .text .extra {
        font-size: 4.5vw;
        margin: 0.5rem 0 0 0;
    }
    .ContactWrapper .Links {
        width: 100%;
        color: rgba(255, 255, 255, 0.8);
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 12vh);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

    }
    .ContactWrapper .Links img{
        aspect-ratio: 1/1;
        width: 48px;
    }

}
