.NavBarContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 1rem;
    align-items: center;
}
.NavBar{
    display: flex;
    text-decoration: none;
    width: 50%;
    justify-content: space-around;
    background: rgba(2, 2, 2, 0.76);
    border-radius: 40px;
    padding: 0.5rem;
    /*border: 1px rgba(255, 255, 255, 0.15) solid;*/
}
.NavBar li{
    list-style: none;
}
.NavBar .link,.NavBarContainer .link{
    color: var(--TextColor);
    background-color: transparent;
    outline: none;
    border: 0 ;
    border-bottom: 1px solid transparent;
    border-radius: 10px;
    font-size: 19px;
    transition-duration: 0.25s;
    padding: 0.5rem 1rem ;
    cursor: pointer;
    text-decoration: none;
}

.NavBar .link:hover,.NavBarContainer .link:hover{
    background-color: white;
    color: black;
}

.NavBarContainer .cv{
   position: absolute;
    right: 5%;
    background: rgba(2, 2, 2, 0.89);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 7rem;

}

.NavBarContainer .cv svg{
    font-size: 22px;

}
@media (max-width: 1024px) {
    .NavBar{
        width: 95%;
    }

}