:root{
  --TextColor: #ffffff

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.App{
  background: rgb(0,0,0);
  background: linear-gradient(160deg, rgba(0,0,0,1) 0%, rgb(40, 26, 65) 50%, rgba(8,4,38,1) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;


}
html {
  scroll-behavior: smooth;

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #642a83 rgba(255, 255, 255, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;

}

*::-webkit-scrollbar-track {
  background: linear-gradient(160deg, rgba(0,0,0,1) 0%, rgb(24, 18, 49) 60%, rgba(8,4,38,1) 100%);

}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(160deg, rgb(87, 87, 87) 0%, rgb(61, 44, 128) 50%);;
  border-radius: 10px;

}